version: '3.8'

services:
  mongodb:
    image: mongo:7.0
    container_name: banking-mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: banking
    volumes:
      - mongodb_data:/data/db
    networks:
      - banking-network

networks:
  banking-network:
    driver: bridge

volumes:
  mongodb_data:
    driver: local
